body {
	font-family:sans-serif;
}

li {
	list-style:none;
}

a {
	text-decoration:none;
	color:black;
}

h1 {
	color:rgb(246, 114, 22);
	padding-right:25px;
	font-family:serif;

}

.header {
	display:flex;
	margin-left:40px;
	height:100px;
}

.signIn {
	width:60px;
	height:30px;
	border:1px solid #0192b5;
	background:white;
	color:#0192b5;
	border-radius:3px;
	margin-right:20px;
	outline:none;
}

.header2 {
	display:flex;
	position:relative;
	left:370px;
	padding-top:10px;
}

.header2 a {
	margin-right:20px;
}

.navBar ul {
	display:flex;
	justify-content:flex-start;

}

.searchBar {
	width:350px;
	height:40px;
	margin-top:15px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border:1px solid black;
	line-height:40px;
	font-size:16px;
	padding-left:10px;
	outline:none;

}

.submitButton {
	width:80px;
	height:44px;
	margin-top:15px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border:1px solid black;
	background:#3cb1Cb;
	color:white;
	font-size:16px;
	outline:none;
}

.navBar {
	border-top:1px solid grey;
	border-bottom:1px solid grey;

}
.navBar a {
	color: grey;
}

.navBar li {
	text-align: center;
	margin-right: 20px;
}

.navBar a:hover {
	padding-bottom:14px;
	border-bottom:3px solid #F56400;
	color:black;
}

.sideThing {
	border:1px solid grey;
	background:white;
	width:230px;
	margin-left:15px;
	padding-left:5px;
	margin-top:15px;
}

#customBox {
	margin-left:150px;
}